# Nexus server on startup
# RENAME THIS FILE TO nexServer.config
# UPDATE CRITICAL OPTIONS SUCH AS HOSTS, PORTS, AND LIBRARY

# Cache the abstract sytax tree for faster rendering?
cache_ast=False

# Hosts to respond to... comma separate... '' as arg = any hostname
hosts=192.168.2.14

# Ports to respond to, comma separate
ports=80,443,8000

# Nexus scripts libary path ... no ending "/"
library =/path/to/library

# Maximum allowed connections
max_connections=1000

# Maxiumum Nexus expressions to evaluate before quitting
max_iterations=500000

# Maximum nested expressions
max_stack=500
